In [14]:
def multiply(a,b): #Definition de la fonction
    resultat = a*b
    return resultat


#appel à la fonction
multiply(2,3)

6

In [1]:
a = 3*7
print(a)

21

In [19]:
age="23a"
age2 = int(age)
print(type(age2))

ValueError: invalid literal for int() with base 10: '23a'

In [ ]:
age = 26 (int) #integer entier
prix = 20.20  (float) #float decimal
nom = "yassir" (str) #chaine de charactere
etat = 1 (bool) #boolean
"2"

In [15]:
age = int(input("Entrez votre age"))
if age>=1 and age<=10:
    print("kid")
elif age >10 and age<18:
    print("adolscent")
elif age >=18 and age< 59:
    print("jeune")
else:
    print("old")
 # systeme d'indentation

Entrez votre age26

TypeError: '>=' not supported between instances of 'str' and 'int'

In [13]:
for i in range(0,11,2):
    print("hello")

hello
hello
hello
hello
hello
hello

In [23]:
# Programation orienté objet (paradigme de la programation le plus important)

#Question 1
nom = input("entrez votre nom: ")
prenom = input("entrez votre prenom: ")
print(prenom,nom)

entrez votre nom: mat
entrez votre prenom: yas
yas mat

In [26]:
s = "5"
int(s*3)

555

In [33]:
#Question 2
# Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

# The sample value of n is 5.

# Expected Result: 615 (5+55+555)


n = '5'
num = 4
resultat = 0
for i in range(1,num+1):
    resultat = resultat + int(i*n)
print(resultat)

6170

In [37]:
# Question 3
numbre =  int(input("entrez un nombre: "))
reste = numbre%2
if reste == 0:
    print("le nombre",numbre," est pair")
else:
    print("le nombre",numbre," est impair")

entrez un nombre: 11
le nombre 11  est impair

In [38]:
# Question 4 
lis = []
for i in range(2000,3201):
    if i%7 == 0 and i%5 != 0:
        lis.append(i)
print(lis)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [42]:
# Question 5
#4! = 4*3*2*1 ==> 24
factoriel = 1
for i in range(4,0,-1):
    factoriel*=i 
print(factoriel)

24

In [48]:
# Question 6 
nom = "yassir"
prenom = "matrane"
nom_complet =nom+prenom
nom_complet

'yassirmatrane'

In [52]:
resu = ""
nom = "yassir" #==>"ysi"
for i,lettre in enumerate(nom):
    if i%2 == 0:
        resu+=lettre
print(resu)

ysi

In [57]:
# Question 7
# - If the price is 500 or above, there will be a 50% discount.

# - If the price is between 200 and 500 (200 inclusive), there will be a 30% discount.

# - If the price is less than 200, there will be a 10% discount.
prix = int(input("entrez le prix: "))
if prix >=500:
    resultat = prix-( 50*prix/100)
elif prix >=200 and prix <500:
    resultat = prix - (30*prix/100)
else:
    resultat = prix -(10*prix/100)
print(resultat)

entrez le prix: 400
280.0

In [56]:
30*400/100

120.0

In [2]:
import pandas as pd
pd.read_csv("chipotle.csv",sep="	")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75